*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: ease-in-out;
}
/* html, body {
  width: 50vw;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
 } */

 body{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  min-height: 100vh;
  flex-direction: column; 
  background: linear-gradient(to top, #6441a5, #2a0845);
}

h1{
  text-align: center;
  color: #fff;
  font-weight: 800;
}

.container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:center;
  flex-wrap: wrap;
  margin-top:10px;
}
#inputfield {
  width: 300px;
  height: 46px;
  border-width: 0;
  border: 1px solid black;
  outline: none;
  font-size: 30px;
  vertical-align: middle;
  background-color: rgba(255,255,255,0.5);

}

#addto {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  vertical-align: middle;
  font-size: 30px;
}

 p {
  margin: 0;
  cursor: pointer;
  font-size: 25px;
  margin: 5px;
  color: aliceblue;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  padding-bottom: 4px;
}

.toDo {
  display: flex;
  margin-top: 15px;
  height: auto;
  background-color: rgba(255,255,255,0.1);
  border-radius: 5px;
  flex-wrap: wrap;
  flex-direction: column;
}

/* @media(max-width: 768px){
  h1{
    font-size: 1rem ;

  }
} */